<div class="flex-container">
    <div class="center-xs artwork-list">
        <div class="alert alert-warning" *ngIf="error">{{error}}</div>
        <a routerLink="/add" *ngIf="error" class="button button-3d button-pill"> Update </a>
        <div>
            <img *ngIf="loading" src="assets/images/spinner.gif" style="background:none">
        </div>
        <div class="">
            <div *ngFor="let artwork of artworks">
                <div class="row center-xs" id="{{artwork.assetRefNo}}">
                    <a routerLink="artwork/{{artwork.assetRefNo}}" class="col-xs-hide button button-3d button-pill">{{artwork.assetRefNo}}</a>
                    <a routerLink="artwork/{{artwork.assetRefNo}}" class="button button-3d-action button-pill">{{artwork.title}}</a>
                    <a routerLink="artist/{{artwork.artist}}" class="button button-3d-highlight button-pill">{{artwork.artist}}</a>
                    <button type="button" *ngIf="artwork.inspected"
                            class="button button-3d-primary button-pill">Inspected
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
