<div id="outer">
    <div class="filters">
        <div  class="filter-header button" (click)="showFilters = !showFilters">
            <h2>Filters</h2>
            <span class="arrow-down" *ngIf="!showFilters"></span>
            <span class="arrow-up" *ngIf="showFilters"></span>
        </div>
        <div class="filter-body" *ngIf="showFilters">
            <div class="filter-item filter-select-container" *ngIf="viewLocationInsuredAndProvenancePermission">
                <label class="filter-select-item">Filter by office location: </label>
                <div class="filter-select-item">
                    <select [(ngModel)]="filter.officeLocation"
                        class="button button-3d button-pill" (change)="filterArtworks(filter)">
                        <option value="">All</option>
                        <option *ngFor="let officelocation of officelocations"                                
                            value="{{officelocation.location}}">{{officelocation.location}}</option>
                    </select>
                </div>
            </div>
            <div class="filter-item filter-select-container">
                <label class="filter-select-item"> Filter by artist: </label>
                <div class="filter-select-item">
                    <select [(ngModel)]="filter.artist"
                        class="button button-3d button-pill" (change)="filterArtworks(filter)">
                        <option value="">All</option>
                        <option *ngFor="let artist of artists"
                            value="{{artist}}">{{artist}}</option>
                    </select>
                </div>
            </div>
            <div class="filter-item">
                <input type="text" 
                       class="button-pill search-term" 
                       [(ngModel)]="filter.searchTerm"
                       placeholder="Search here"
                       (change)="filterArtworks(filter)"/><br/>
                <div class="filter-group">
                    <label>
                        <input type="checkbox" 
                               [(ngModel)]="filter.searchArtist" 
                               id="search_artist"
                               (change)="filterArtworks(filter)"/>Search by artists
                    </label>
                </div><!--
                -->                <div class="filter-group">
                    <label>
                        <input type="checkbox"
                               [(ngModel)]="filter.searchLocation" 
                               id="search_location" 
                               (change)="filterArtworks(filter)"/>Search by Location
                    </label>
                </div>
            </div>
        </div>
    </div>
    <img *ngIf="spinner" ng-src="assets/images/spinner.gif" style="background:none">
    <div class="flex-container">
        <div *ngFor="let artwork of artworks">
            <div id="productos"
             class="col col-span-3">
                <div class="container">
                    <a class="lightbox" href="javascript:void(0)" (click)="openLightBox(artwork)">
                        <img [src]="artwork.thumbnail" alt="No image"/>
                    </a>
                    <a href="#/view3/{{artwork.assetRefNo}}">
                        <div>
                            <div>{{artwork.assetRefNo}}.</div>
                            <div>{{artwork.title}}</div>
                            <span *ngIf="artwork.inspected">
                                <i class="fa fa-check-circle"></i>
                            </span>
                        </div>
                        <div *ngIf="artwork.artist">by {{artwork.artist}}</div>
                        <div 
                            *ngIf="viewLocationInsuredAndProvenancePermission"
                            ng-class="'' == selectedLocation ? 'all-locations-same' : ''" class="{{artwork.locationBg}} artwork__locationBg {{allArtWorksClass}}"
                            style="display: table-cell; vertical-align: bottom;">{{artwork.officeLocation}}
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- end repeat -->
    </div>
</div>
<div class="lightbox-target" id="view3-lightbox" *ngIf="showLightBox" (click)="closeLightBox()">
    <img id="view3-lightbox-image" alt="No Image" [src]="flexBoxImage"/>
    <a class="lightbox-close" (click)="closeLightBox()"></a>
</div>
